@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
*::after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}
:root {
  --color-white: #fff;
  --color-black: #000;
  --btn-primary-background: var(--blue-500);
  --color-attribute: hsl(228, 45%, 44%);
  --neutral-950: #0e121b;
  --neutral-900: #191b25;
  --neutral-800: #232530;
  --neutral-700: #2b303b;
  --neutral-600: #525866;
  --neutral-500: #717784;
  --neutral-400: #232530;
  --neutral-300: #cacfd8;
  --neutral-200: #e0e4ea;
  --neutral-100: #f3f5f8;
  --neutral-50: #f5f7fa;
  --blue-700: #2547d0;
  --blue-500: #335cff;
  --blue-50: #ebf1ff;
  --green-500: #21c16b;
  --green-100: @191B25;
  --red-500: #fb3748;
  --red-100: #ffd5d8;
  --spacing-0: 0;
  --spacing-025: 2px;
  --spacing-050: 4px;
  --spacing-075: 6px;
  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-1000: 80px;
  --radius-0: 0;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-full: 999px;
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
  color: var(--neutral-200);
}
a {
  text-decoration: none;
  color: var(--neutral-200);
}
ul {
  list-style: none;
}
input {
  border: none;
  appearance: none;
  outline: none;
}
body {
  background-color: var(--neutral-950);
  color: var(--neutral-200);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

main {
  margin: auto;
  display: grid;
  grid-template-columns: 0.3fr auto 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

#root > main:nth-child(1) > nav:nth-child(1) {
  grid-column: 2/-1;
  grid-row: 1/2;
  height: fit-content;
}

main > aside:nth-child(2) {
  grid-row: 1/-1;
  grid-column: 1/2;
}

#root {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  width: 100%;
}

main > aside {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding-right: 1rem;
  padding-left: 0.75rem;
  border-right: 1px solid var(--neutral-700);
}

.asideHeader {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--neutral-700);
  padding-bottom: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.asideHeader > button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itsLife {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 5px;
}
.itsLife > span {
  font-size: 15px;
  font-weight: 500;
}
.Greyone {
  text-transform: capitalize;
  color: var(--neutral-500);
  font-size: 13px;
}
.singleTag {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px;
  font-size: 15px;
}
.singleTag:hover {
  background-color: rgba(128, 128, 128, 0.329);
  border-radius: 5px;
  padding: 8px;
}
.manyTags {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
}
.sectionTh {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}
.btnLight {
  border-radius: 5px;
  padding: 8px;
}
.btnLight:hover {
  background-color: rgba(128, 128, 128, 0.329);
}

.btnHovered {
  color: white;
}
.btnHovered .hoverSVGe path {
  stroke: var(--blue-700);
}
nav h3 {
  font-size: 25px;
  font-weight: 700;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--neutral-700);
}
.createNew {
  background-color: var(--blue-500);
  border-radius: 5px;
  padding: 0.6rem 1rem;
  font-weight: 600;
  text-transform: capitalize;
}
.sectionNotee {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

.createNew {
  margin-bottom: 1.5rem;
}

.ticles > ul {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.clickNote {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px 5px;
}
.clickNote:hover {
  background-color: var(--neutral-700);
}
.clickNote > h4 {
  font-size: 17px;
}

.clickNote > div {
  display: flex;
  gap: 0 5px;
}

.clickNote > div > span {
  background-color: var(--neutral-600);
  font-size: 13px;
  border-radius: 2px;
  padding: 1px 4px;
}

.clickNote > p {
  font-size: 13px;
  color: var(--neutral-500);
}
.sectionNotee {
  margin-left: 1.5rem;
}
nav {
  padding-left: 1.5rem;
}
main > aside {
  padding-top: 1rem;
}

nav {
  padding-right: 2rem;
  padding-top: 15px;
  padding-bottom: 1rem;
}

.rightNav {
  display: flex;
  flex-direction: row;
  gap: 0 10px;
}

.rightNav {
  justify-content: center;
  align-items: center;
}

.searck {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searck > input {
  outline: none;
  background-color: transparent;
  border: none;
  border: 1px solid var(--neutral-500);
  border-radius: 5px;
  padding: 12px 1rem 12px 35px;
  color: white;
  transition: all 0.3s ease-in-out;
  width: 300px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill="%23717784" fill-rule="evenodd" d="M11.248 3.5a7.289 7.289 0 1 0 0 14.577 7.289 7.289 0 0 0 0-14.577ZM2.46 10.79a8.789 8.789 0 1 1 17.577 0 8.789 8.789 0 0 1-17.577 0Z" clip-rule="evenodd"/><path fill="%23717784" fill-rule="evenodd" d="m16.736 15.648 5.616 5.6-1.06 1.063-5.615-5.601 1.06-1.062Z" clip-rule="evenodd"/></svg>');
  background-repeat: no-repeat;
  background-position: 10px center;
}
.searck > input:focus {
  border: 1px solid var(--neutral-300);
}
.searck > input::placeholder {
  text-transform: capitalize;
}

.mino {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 50px 150px auto 50px;
  max-height: 100vh;
}

.noteAside {
  grid-row: 1/-1;
  grid-column: 2;
}

.ticles > ul {
  overflow: scroll;
}

body {
  overflow: hidden;
}

.sectionNotee {
  overflow: scroll;
}

.mino {
  grid-template-rows: min-content auto min-content;
}

.mino > footer:nth-child(4) {
  padding: 1rem;
}

.noteInfo {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 15px 0;
  border-bottom: 1px solid var(--neutral-400);
}

.mainContent {
  padding: 1rem;
}

div.oneEd {
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: 200px 150px;
}

div.oneEd * {
  place-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ponEn {
  gap: 10px;
}
.mainContent {
  white-space: pre-line;
  border-bottom: 1px solid var(--neutral-400);
}
.noteAside {
  display: flex;
  flex-direction: column;
}

.fotbtnsv,
.ftbtn {
  padding: 8px;
  background-color: var(--blue-500);
  border-radius: var(--radius-4);
  font-weight: 600;
  font-size: 13px;
  transition: all 0.2s ease-in-out;
}
.fotbtncn {
  background-color: var(--neutral-800);
  color: var(--neutral-500);
}

.fotbtnsv:hover {
  background-color: var(--blue-700);
}
.fotbtncn:hover {
  background-color: var(--neutral-700);
  color: var(--neutral-300);
}
.mino > footer:nth-child(4) {
  display: flex;
  flex-direction: row;
  gap: 0 15px;
}

.noteAside {
  padding: 0 1rem;
  gap: 10px 0;
  width: 300px;
  border-left: 1px solid var(--neutral-400) ;
}

.asideBtns {
  border: 1px solid var(--neutral-500);
  border-radius: var(--radius-8);
  padding: 8px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 10px;
  transition: all 0.2s ease-in-out;
}
.asideBtns:hover {
  border: 1px solid var(--neutral-600);
}
